DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME?schema=public"
SHADOW_DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME_shadow?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change_this_to_secure_random"